<p>Edit Band</p>
<form action="/bands/<%= @band.id %>" method="post" %>
  <input type="hidden" name="_method" value="patch" %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="band">Band Name</label>
  <input type="text" id="band" name="band[name]" value="<%= @band.name %>">
  <input type="submit" value="Edit Band">
</form>
